//imports

@import url('./homepage.min.css');



//colors

$primaryBlue: #434396;
$darkBlue: #291A7A;
$blue: #218AEF;
$green-100: #34CCA9;
$grey: #7D7D82;
$silver: #DDDDE8;
$lightBg: #F6F7F8;
$violet-100: #8D21EF;
$red-100: #CF2F2F;
$green-200: #21CC76;
$violet-200: #B365FA;
$green-300: #8CD8C6;
$red-200: #D98A8A;
$yellow: #FF9400;



//mixins

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

@mixin h1 {
    font-size: 48px;
    line-height: 58px;
}

@mixin h2 {
    font-size: 40px;
    line-height: 54px;
}

@mixin h3 {
    font-size: 32px;
    line-height: 40px;
}

@mixin h4 {
    font-size: 24px;
    line-height: 30px;
}

@mixin subHeader {
    font-size: 18px;
    line-height: 26px;
}

@mixin bodyMedium {
    font-family: 'MetropolisM';
    font-size: 16px;
    line-height: 27px;
}

@mixin bodyRegular {
    font-family: 'MetropolisR';
    font-size: 16px;
    line-height: 27px;
}

//static styles


.container {
    overflow: hidden;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.btn-free {
    color: white;
    background-color: $green-100;
    border: none;
    border-radius: 8px;
    padding: 4px 28.5px;
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);

    &:hover {
        background-color: #11ac70;
    }
}

.rate-yellow {
    font-family: 'MetropolisSB';
    color: #FFD700;
}

.rate-underline {
    position: relative;

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background-color: white;
        bottom: -2px;
        opacity: 0.6;
    }
}

.feedback-bold {
    font-weight: 600;
}

.top-red {
    border-top: 4px solid #CF2F2F !important;
    background-image: url('../img/top-red.svg');
    background-position: top -1px right 10px;
    background-repeat: no-repeat;
}

.top-green {
    background-image: url('../img/top-green.svg');
    background-position: top -1px right 10px;
    background-repeat: no-repeat;
}

.violet {
    &-btn {
        color: #FFFFFF;
        background: #434396;
        border-radius: 4px;
        border: 1px solid #434396;
        transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);

        &:hover {
            background: #FFFFFF;
            color: #434396;
        }
    }
}

.login {
    padding: 6px 15px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 14px;
    line-height: 24px;
    border-left: 1px solid $silver;

    @media (max-width: 958px) {
        border: none;
        color: black;
    }
}

.free__trial {
    padding: 8px 22px;
    color: $primaryBlue;
    background-color: white;
    border-radius: 6px;
    font-size: 12px;
    line-height: 24px;
    border: 1px solid white;
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);

    @media (max-width: 958px) {
        border: 1px solid $primaryBlue;
        background-color: $primaryBlue;
        color: white;
    }

    &:hover {
        background-color: $primaryBlue;
        border: 1px solid $primaryBlue;
        color: white;
    }
}

.arrow {
    background-color: transparent;
    border: none;

    &-tablet_desctop {
        display: none;

        @media (min-width:768px) {
            display: block;
            display: flex;
            justify-content: center;
        }
    }

    &:disabled {
        svg {
            cursor: not-allowed;
            opacity: 0.3;
        }
    }
}

.dots {
    align-items: center;
    column-gap: 7px;

    @media (min-width:768px) {
        display: flex;
    }

    &-icon {
        &--active {
            circle {
                fill: #34CCA9;
            }
        }
    }
}

.type-underline {
    position: relative;

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background-color: black;
        bottom: -2px;
        opacity: 0.6;
    }
}

.blue-text {
    font-family: 'MetropolisSB';
    color: $blue;
}

.green-text {
    font-family: 'MetropolisSB';
    color: $green-100;
}

.more-margin {
    margin-bottom: 28px !important;

    @media (min-width: 1440px) {
        margin-bottom: 12px !important;
    }
}

.ip-types {
    background-color: white;

    @media (min-width: 768px) {
        background-color: transparent;
    }
}

.logo {
    @media (min-width: 768px) {
        display: none;
    }

    &-violet {
        padding: 15px 0 0 39px;

        @media (min-width: 959px) {
            display: none;
        }
    }

    &-768 {
        display: none;

        @media (min-width: 768px) {
            display: block;
        }

        @media (min-width: 1440px) {
            display: none;
        }
    }

    &-1440 {
        display: none;

        @media (min-width: 1440px) {
            display: block;
        }
    }
}

.message {
    height: 75%;
}

.overlay {
    display: none;
    position: absolute;
    background-color: black;
    opacity: 0.3;
    min-height: 100%;
    width: 100%;
    z-index: 1;
    overflow-y: hidden;

    &--active {
        display: block;
    }
}

.body--overflow {
    overflow: hidden;
}
